<!-- Explicación de Animales Fantasticos -->
<h2>Seres Semi-Humanos</h2>

<section class="conteiner seccion-humanoide">
  <div class="row contenedor-humanoide">
    <div class="card" style="width: 21rem;">
      <img src="../../assets/centauro.jpg" class="card-img-top humanoide-img" alt="Centauro">
      <div class="card-body">
        <h5 class="card-title">Centauro</h5>
        <p class="card-text">Son seres astrólogos, con mentes profundas, saben mucho pero comparten poco, no se puede tratar de obtener una respuesta directa de un centauro.</p>
        <a href="https://harrypotter.fandom.com/es/wiki/Centauro" class="btn btn-primary">
          Más Información
        </a>
      </div>
    </div>

    <div class="card contenedor-humanoide" style="width: 21rem;">
      <img src="../../assets/duende.jpg" class="card-img-top humanoide-img" alt="Duende">
      <div class="card-body">
        <h5 class="card-title">Duende</h5>
        <p class="card-text">Los duendes son una raza muy inteligente de pequeños humanoides con dedos y pies largos que coexisten
           con los magos y brujas. Su dieta consiste en carne, raíces y hongos. Los duendes hablan en un idioma conocido
           como duendigonza, y son buenos orfebres notables por su platería; incluso acuñan monedas como dinero mágico.
        </p>
        <a href="https://harrypotter.fandom.com/es/wiki/Duende" class="btn btn-primary">
          Más Información
        </a>
      </div>
    </div>

    <div class="card contenedor-humanoide" style="width: 21rem;">
      <img src="../../assets/sirenas.png" class="card-img-top humanoide-img" alt="Selkies">
      <div class="card-body">
        <h5 class="card-title">Selkies</h5>
        <p class="card-text"> Viven en una gran ciudad de piedra en donde tienen grindylows domesticados.
          Estas selkies tuvieron un rol importante en la Segunda Prueba del Torneo de los Tres Magos de 1994.
        </p>
        <a href="https://harrypotter.fandom.com/es/wiki/Sirena" class="btn btn-primary">
          Más Información
        </a>
      </div>
    </div>
  </div>
</section>
