h2{
  text-align: center;
  margin-top: 5rem;
}

.seccion-humanoide{
  margin-top: 5rem;
}

.contenedor-humanoide {
  display: flex;
  justify-content: space-evenly;
}

.humanoide-img{
  width: 20rem;
  height: 30vh;
}

.card-body{
  text-align: center;
}
