<!-- Explicación de Animales Fantasticos -->
<h2>Animales Fantásticos</h2>

<section class="conteiner seccion-animales">
  <div class="row contenedor-animales">
    <div class="card" style="width: 21rem;">
      <img src="../../assets/dragon.jpg" class="card-img-top animales-img" alt="Colacuerno Hungaro">
      <div class="card-body">
        <h5 class="card-title">Colacuerno Hungaro</h5>
        <p class="card-text">Dragón nativo de Hungría y se considera la raza más peligrosa entre los dragones. Tiene escamas negras, una cola con púas, y los cuernos de bronce que sobresalen de su cabeza.</p>
        <a href="https://harrypotter.fandom.com/es/wiki/Colacuerno_h%C3%BAngaro" class="btn btn-primary">
          Más Información
        </a>
      </div>
    </div>

    <div class="card contenedor-animales" style="width: 21rem;">
      <img src="../../assets/thestral.jpg" class="card-img-top animales-img" alt="Thestral">
      <div class="card-body">
        <h5 class="card-title">Thestral</h5>
        <p class="card-text">Son muy raros y están considerados como criaturas peligrosas por el Ministerio británico de magia.
          Son inmerecidamente conocidos como augurio de desgracia y agresión por muchos magos, debido a que sólo son visibles
          por aquellos que han visto la muerte (y entendido plenamente el concepto), y a su apariencia lúgubre, demacrada y fantasmal.
        </p>
        <a href="https://harrypotter.fandom.com/es/wiki/Thestral" class="btn btn-primary">
          Más Información
        </a>
      </div>
    </div>

    <div class="card contenedor-animales" style="width: 21rem;">
      <img src="../../assets/swooping-evil.png" class="card-img-top animales-img" alt="Swooping Evil">
      <div class="card-body">
        <h5 class="card-title">Swooping Evil</h5>
        <p class="card-text">Puede ser peligroso, ya que puede alimentarse del cerebro de las personas,
          pero también demostraron ser capaces de repeler algunos hechizos al volar en su camino.
          Secretan un veneno que, diluido correctamente, puede ser usado para borrar malos recuerdos.
        </p>
        <a href="https://harrypotter.fandom.com/es/wiki/Swooping_Evil" class="btn btn-primary">
          Más Información
        </a>
      </div>
    </div>
  </div>
</section>
