<!-- Explicación de las maldiciones asesinas -->
<h2>Maldiciones imperdonables</h2>

<section class="conteiner seccion-maldiciones">
  <div class="row contenedor-maldiciones">
    <div class="card" style="width: 21rem;">
      <img src="../../assets/imperio.jpg" class="card-img-top maldicion-imperdonable" alt="Maldición imperante">
      <div class="card-body">
        <h5 class="card-title">Maldición Imperio</h5>
        <p class="card-text">Doblega la voluntad de una persona antes los deseos de otro.</p>
        <a href="https://harrypotter.fandom.com/es/wiki/Maldici%C3%B3n_Imperius" class="btn btn-primary">
          Más Información
        </a>
      </div>
    </div>

    <div class="card contenedor-maldiciones" style="width: 21rem;">
      <img src="../../assets/crucio.jpg" class="card-img-top maldicion-imperdonable" alt="Maldición Cruciatus">
      <div class="card-body">
        <h5 class="card-title">Maldición Cruciatus</h5>
        <p class="card-text">Forma de tortura. Es como si cuchillos candentes le horadaran cada centímetro de la piel.</p>
        <a href="https://harrypotter.fandom.com/es/wiki/Maldici%C3%B3n_Cruciatus" class="btn btn-primary">
          Más Información
        </a>
      </div>
    </div>

    <div class="card contenedor-maldiciones" style="width: 21rem;">
      <img src="../../assets/maldicion-asesina.jpg" class="card-img-top maldicion-imperdonable" alt="Maldición asesina">
      <div class="card-body">
        <h5 class="card-title">Maldición Asesina</h5>
        <p class="card-text">Libera el alma del cuerpo sin dejar rastro biológico de causa.</p>
        <a href="https://harrypotter.fandom.com/es/wiki/Maldici%C3%B3n_asesina" class="btn btn-primary">
          Más Información
        </a>
      </div>
    </div>
  </div>
</section>






