h2{
  text-align: center;
  margin-top: 5rem;
}

.seccion-maldiciones{
  margin-top: 5rem;
}

.contenedor-maldiciones {
  display: flex;
  justify-content: space-evenly;
}

.maldicion-imperdonable{
  width: 20rem;
  height: 30vh;
}

.card-body{
  text-align: center;
}
